.fa-star {
  margin: 0.5em;
  font-size: 24px;
  color: gold;
}

span {
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  background-color: #ccc;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.game-btn {
  border: 1px solid grey;
}

.game-btn:hover {
  box-shadow: 0 0 0 0.2rem grey;
}

.selected {
  background-color: #eee;
  color: #ddd;
	cursor: not-allowed;
}

.used {
  background-color: #aaddaa;
  color: #99bb99;
	cursor: not-allowed;
}